body 
{
    background-color: rgb(234, 234, 234) !important;
}


/* Header */ 
.header 
{
    background-color: rgb(0, 0, 0) !important;
    height: 60px;
    color: white;
}

/* Blog post */
section 
{
    width: 70%;
    margin: 0 auto;
    padding: 9%;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 3px 3px #838383;
}

